body {
    height: 100vh;
    width: 100vw;
}

#drawingCanvas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

canvas {
    grid-column: 1 / -1;
    border: 1px solid black;
}

.paint {
    height: 48px;
    width: 48px;

    display: inline-block;

    border: 1px solid black;

    text-align: center;
}

#black {
    grid-column: 1;
    background-color: black;
}

#pink {
    grid-column: 2;
    background-color: #ffa6c9;
    color: #ffa6c9;
}

#clear {
    grid-column: 3;
}

#griddy {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#clear i {
    grid-column: 2;
    grid-row: 2;
}

.palette {
    height: 50px;
    width: fit-content;
    display: grid;
    margin-top: 10px;
    gap: 10px;
}
