body {
    height: 100vh; /* we want the body to fit the entire viewport!! */
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    font-family: 'Lato', sans-serif;
    color: #66545e;
}

#drawingCanvas {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

canvas {
    border: 1px solid black;
    height: 75vh;
    width: 75vw;
}

li {
    overflow-wrap: anywhere;
}

.paint {
    height: 48px; /* need pretty square thumbnails for the color options! */
    width: 48px;

    display: inline-block; /* putting all the color options in a row */

    border: 1px solid black;

    text-align: center; /* need this to keep the icon in the very center! */
}

/* setting us the colors for our paint options <3 */
#black {
    background-color: #000000;
}

#red {
    background-color: #FAA0A0;
}

#orange {
    background-color: #FFC69A;
}

#yellow {
    background-color: #F8EC7C;
}

#green {
    background-color: #D0F2C7;
}

#blue {
    background-color: #BAEBE5;
}

#purple {
    background-color: #E1CAF8;
}

#pink {
    background-color: #F4C9DE;
}

#griddy {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* making a 3x3 grid so the icon can be centered!! */
    grid-template-rows: repeat(3, 1fr);
}

#clear i {
    grid-column: 2; /* placing the icon in the very center ! */
    grid-row: 2;
}

.palette {
    display: inline-flex; 
    gap: 10px;
    margin-top: 10px;
}

#chat-container {
    /* background: #ece6e3;  */
    bottom: 0;
    right: 0;
    width: 20vw;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#messages-container {
    flex-grow: 1;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    width: inherit;
}

#form {
    background: #eee0ca;
    padding: 0.25rem;
    display: flex;
    height: 50px;
    width: inherit;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bubble {
    background-color: #faebd7;
    border-radius: 0 10px 10px 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    align-self: flex-start;
    display: inline-block;
    word-wrap: break-word;

    overflow-x: hidden;
}

.bubble.sent {
    align-self: flex-end;
}

.name-bubble {
    font-size: 12px;
    color: #888;
    text-align: left;
}
